<div class="text-center py-3 container-lg hover-zoom-2">
    <div class="row mt-5 mb-5">
        <div class="col-4 col-lg-5 border-black border-bottom mb-4"></div>
        <h2 class="col-4 col-lg-2 text-center">经典案例</h2>
        <div class="col-4 col-lg-5 border-black border-bottom mb-4"></div>
    </div>
    <div class="row mb-lg-3">
        <div class="col-lg-3">
            @* <figure class=" hover-img"> *@
                <img class="img-fluid " alt="..." src="https://gitee.com/jingeonline/test/raw/master/Albums/album-3/wed_1_sm.jpg" />
@*                 <figcaption>
                    <h3>Lorem <br />Ipsum</h3>
                </figcaption>
            </figure> *@

        </div>
        <div class="col-lg-3">
            <img class="img-fluid" alt="..."
                 src="https://gitee.com/jingeonline/test/raw/master/Albums/album-3/wed_2_sm.jpg" />
        </div>
        <div class="col-lg-3">
            <img class="img-fluid" alt="..."
                 src="https://gitee.com/jingeonline/test/raw/master/Albums/album-3/wed_3_sm.jpg" />
        </div>
        <div class="col-lg-3">
            <img class="img-fluid" alt="..."
                 src="https://gitee.com/jingeonline/test/raw/master/Albums/album-3/wed_4_sm.jpg" />
        </div>
    </div>
    <div class="row mb-lg-3">
        <div class="col-lg-4">
            <img class="img-fluid" alt="..."
                 src="https://gitee.com/jingeonline/test/raw/master/Albums/album-3/wed_9_sm.jpg" />
        </div>
        <div class="col-lg-4">
            <img class="img-fluid" alt="..."
                 src="https://gitee.com/jingeonline/test/raw/master/Albums/album-3/wed_10_sm.jpg" />
        </div>
        <div class="col-lg-4">
            <img class="img-fluid" alt="..."
                 src="https://gitee.com/jingeonline/test/raw/master/Albums/album-3/wed_11_sm.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img class="img-fluid" alt="..."
                 src="https://gitee.com/jingeonline/test/raw/master/Albums/album-3/wed_5_sm.jpg" />
        </div>
        <div class="col-lg-3">
            <img class="img-fluid" alt="..."
                 src="https://gitee.com/jingeonline/test/raw/master/Albums/album-3/wed_6_sm.jpg" />
        </div>
        <div class="col-lg-3">
            <img class="img-fluid" alt="..."
                 src="https://gitee.com/jingeonline/test/raw/master/Albums/album-3/wed_7_sm.jpg" />
        </div>
        <div class="col-lg-3">
            <img class="img-fluid" alt="..."
                 src="https://gitee.com/jingeonline/test/raw/master/Albums/album-3/wed_8_sm.jpg" />
        </div>
    </div>

</div>

@code {

}
