<div class="container-xxl py-5">
    <h2 class="text-center">常见问题</h2>
    <p class="text-center fs-6">下面这些常见的问题或许能帮助到您</p>
    <div class="d-grid gap-1">
        <button class="btn my-theme-color-dark text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                aria-expanded="false" aria-controls="collapseExample">
            Can you describe your photography style?
        </button>
        <div class="collapse" id="collapse1">
            <div class="card card-body my-theme-color">
                We make bold, beautiful and unique photographs that are focussed on moments. Like you, we don’t love forced, posed photography and so most of the day we are in documentary mode, capturing moments as they happen on your day. For the portraits, we will offer direction so you feel comfortable but not too much that it feels forced.
            </div>
        </div>

        <button class="btn my-theme-color-dark text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
                aria-expanded="false" aria-controls="collapseExample">
            How and when will I receive my wedding photos?
        </button>
        <div class="collapse" id="collapse2">
            <div class="card card-body my-theme-color">
                Your full gallery will be online inside 6 weeks. It’s written into your contract, so you’ve always got peace of mind that there won’t be any massive months-long wait. Oh, and since we love your faces, we’ll send you a dozen or so ‘sneak peeks’ the day after the wedding too, so you’ve got something to share and enjoy straight away. You will receive a stunning and personalised online gallery where you can organise, keep, share and print your photos from.
            </div>
        </div>

        <button class="btn my-theme-color-dark text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
                aria-expanded="false" aria-controls="collapseExample">
            I don’t have a wedding planner. Can you assist with my wedding planning timeline?
        </button>
        <div class="collapse" id="collapse3">
            <div class="card card-body my-theme-color">
                Absolutely. This is part of the personalised service that is included for all our wedding clients. In fact, this is what makes us different from other photographers. With over 20 collective years in the industry within our team we have the expertise to plan complex events, so assisting with a wedding timeline is just part of the service.
            </div>
        </div>

        <button class="btn my-theme-color-dark text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
                aria-expanded="false" aria-controls="collapseExample">
            Do you shoot with a second Shooter or do you have an assistant?
        </button>
        <div class="collapse" id="collapse4">
            <div class="card card-body my-theme-color">
                When you book Hey Jack you will book in one of our 3 lead photographers for your wedding day. We love to keep things intimate and not make a big production of the photos. Our premium packages include two shooters and we recommend this for larger weddings, numbers over 150.
            </div>
        </div>
    </div>
</div>
@code {

}
