<div class="container-fluid bg-white pt-4 pb-5">
    <div class="container-lg ">
        <div class="row mt-5 text-center">
            <div class="col-4 col-lg-5 border-black border-bottom mb-4"></div>
            <h2 class="col-4 col-lg-2 text-center">摄影师团队</h2>
            <div class="col-4 col-lg-5 border-black border-bottom mb-4"></div>
        </div>
        <img src="https://gitee.com/jingeonline/test/raw/master/Photographers/photographers.jpg"
             srcset="https://gitee.com/jingeonline/test/raw/master/Photographers/photographers_sm.jpg 800w,https://gitee.com/jingeonline/test/raw/master/Photographers/photographers.jpg 1500w"
             class="img-fluid w-100" alt="..." />
        <p class="mt-5">
            Core Photography is a Sydney based content creating studio specialising in photography and videography in real estate and property. We photograph everything including high-end luxury residencies, new developments, sales and rental properties.
        </p>
        <p>
            We pride ourselves on quick turn around, high-quality service and ensure you get a personalised experience each and every time.
        </p>
        <p>
            Our team have mastered the tricks of the trade and is specifically trained to take the presentation of your property to the next level with a touch of creativity.
        </p>
        <div class="row mt-5 my-theme-color-darker">
            <img class="col-4 p-2 p-lg-3" alt="..." style="object-fit:cover"
                 src="https://gitee.com/jingeonline/test/raw/master/Photographers/per_1.jpg" 
                 srcset="https://gitee.com/jingeonline/test/raw/master/Photographers/per_1_sm.jpg 800w, https://gitee.com/jingeonline/test/raw/master/Photographers/per_1.jpg 1500w" />
            <div class="col-8 p-2 p-lg-3 my-auto">
                <h4 class="text-light">Adam Simbaso</h4>
                <p class="text-light">While I love working with people, I understand what it feels like to be nervous in front of the camera. </p>
            </div>
        </div>
        <div class="row mt-5 my-theme-color-darker">
            <div class="col-8 p-2 p-lg-3 my-auto">
                <h4 class="text-light">Nancy Clatina</h4>
                <p class="text-light">
                    I am fascinated by genuine connection, and ​the sweet, candid moments ​when couples absolutely adore each other.
                </p>
            </div>
            <img class="col-4 p-2 p-lg-3" alt="..." style="object-fit:cover"
                 src="https://gitee.com/jingeonline/test/raw/master/Photographers/per_2.jpg" 
                 srcset="https://gitee.com/jingeonline/test/raw/master/Photographers/per_2_sm.jpg 800w, https://gitee.com/jingeonline/test/raw/master/Photographers/per_2.jpg 1500w" />
        </div>
        <div class="row mt-5 my-theme-color-darker">
            <img class="col-4 p-2 p-lg-3" alt="..." style="object-fit:cover"
                 src="https://gitee.com/jingeonline/test/raw/master/Photographers/per_3.jpg" 
                 srcset="https://gitee.com/jingeonline/test/raw/master/Photographers/per_3_sm.jpg 800w, https://gitee.com/jingeonline/test/raw/master/Photographers/per_3.jpg 1500w" />
            <div class="col-8 p-2 p-lg-3 my-auto">
                <h4 class="text-light">李狗蛋</h4>
                <p class="text-light">
                    摄影就是咔嚓咔嚓，瞎几把按快门，时刻保持自信，装出一副出大片了的样子。简单来说，就是瞎拍！
                </p>                <p class="text-light">
                    擅长风格：垃圾堆，石矿，废工厂，火车道
                </p>
            </div>
        </div>
    </div>
</div>
@code {

    }
