<div class="mt-3 mb-5 container-lg">
    <div class="row">

        <div class="col-4 col-lg-5 border-black border-bottom mb-4"></div>
        <h2 class="col-4 col-lg-2 text-center">最美回忆</h2>
        <div class="col-4 col-lg-5 border-black border-bottom mb-4"></div>
    </div>
    <div class="w-75 text-center mx-auto mt-5">
        <p>
            Most couples tell us they were so full of adrenaline and having so (SO) much fun on their wedding day, it felt like it went by in flash. You might miss seeing your partner getting ready and waiting to see you at the aisle, or the moment where your Dad tried to breakdance on the day.
            Our professional team of wedding videographers create a special cinematic style keepsake and memento you can watch after the big day and share with friends and fam, or save for your anniversaries and milestones. We’ll be secret ninjas on hand to capture the big things, little things and everything in between so you can relive your incredible day whenever, and wherever you want (just keep a box of tissues nearby!).
        </p>
    </div>
</div>
<div class="ratio ratio-16x9 container-lg mb-5">
    <iframe src="//player.bilibili.com/player.html?aid=333226753&bvid=BV16A411g7C4&cid=341989677&p=1&danmaku=0&high_quality=1"
            scrolling="no" border="0" framespacing="0" allowfullscreen="true"
            class="embed-responsive-item"> </iframe>
</div>

@code {

}
