<div class="py-5">
    <div class="container-lg ">
        <img src="https://gitee.com/jingeonline/test/raw/master/Index-Carousel/slogan.png"
             srcset="https://gitee.com/jingeonline/test/raw/master/Index-Carousel/slogan_sm.png 800w,https://gitee.com/jingeonline/test/raw/master/Index-Carousel/slogan.png 1500w"
             class="d-block mx-auto" alt="..." style="width:300px"/>
        <p class="text-center mt-5">
            I’m Jessica Abby a wedding & engagement photographer, and I’m here to make sure your love story is captured with heart and soul. I am based in Melbourne and regularly photograph throughout Victoria and South Australia.
            I am fascinated by genuine connection, and ​the sweet, candid moments ​when couples absolutely adore each other.
        </p>
        <p class="text-center">
            While I love working with people, I understand what it feels like to be nervous in front of the camera, so I am always sure to create a supportive and fun environment in which you can feel comfortable during your special day.
            Please say hello, tell me about your special someone, and let’s get ready for your big day!
        </p>
    </div>
</div>

@code {

}
