
.my-theme-color {
    background-color: #fcefe1
}

.my-theme-color-light {
    background-color: #fef7f0
}

.my-theme-color-dark {
    background-color: #cabfb4
}

.my-theme-color-darker {
    background-color: #524e49
}

/*幻灯片图片大小*/
/*桌面生效*/
div.carousel-item img {
    height: 900px;
    object-fit: cover
}
/*手机生效*/
@media(max-width:992px) {
    div.carousel-item img {
        height: 300px;
        object-fit: cover
    }
}

img.img-heigh-300 {
    height: 300px;
    object-fit: cover
}

/*@media(max-width:992px) {
    img.heigh-500 {
        height: 200px;
        object-fit: cover
    }
}*/

img.img-fit-cover {
    object-fit: cover
}
/*鼠标进入后，元素放大*/
.hover-zoom:hover {
    transform: scale(1.03);
    z-index: 2;
    transition-duration: 300ms;
}

/*鼠标进入后，图片放大2倍，并且带有阴影*/
.hover-zoom-2 img:hover {
    transform: scale(2);
    z-index: 2;
    transition-duration: 300ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}


/*清除a标签自带的style*/
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}
