@page "/"
@inject HttpClient httpClient;
@using BlazorApp_AzureStaticWeb_Test.Pages.IndexPage

<PageTitle>测试网站-主页</PageTitle>
<div class="my-theme-color-light">
    <CarouselComponent />
    <WelcomeComponent />
    <RecentAlbumsComponent/>
    <CommonQuestionsComponent/>
    <BottomComponent/>
    @*     <div class="my-lg-5 my-3 container-fluid">
    <div class="row">
    <div class="col gx-5">
    <h3 class="text-center">Azure</h3>
    <img src="imgs/camera4.jpg" class="img-thumbnail" alt=".." />
    <img src="imgs/camera5.jpg" class="img-thumbnail" alt=".." />
    <img src="imgs/camera6.jpg" class="img-thumbnail" alt=".." />
    <img src="imgs/camera7.jpg" class="img-thumbnail" alt=".." />
    </div>
    <div class="col">
    <h3 class="text-center">Gitee</h3>
    <img src="https://gitee.com/jingeonline/test/raw/master/%E4%B8%BB%E9%A1%B5-Carousel/camera4.jpg" class="img-thumbnail" alt=".." />
    <img src="https://gitee.com/jingeonline/test/raw/master/%E4%B8%BB%E9%A1%B5-Carousel/camera5.jpg" class="img-thumbnail" alt=".." />
    <img src="https://gitee.com/jingeonline/test/raw/master/%E4%B8%BB%E9%A1%B5-Carousel/camera6.jpg" class="img-thumbnail" alt=".." />
    <img src="https://gitee.com/jingeonline/test/raw/master/%E4%B8%BB%E9%A1%B5-Carousel/camera7.jpg" class="img-thumbnail" alt=".." />
    </div>
    </div>
    </div> *@
    @*     <h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />

    <br />

    <button class="btn btn-primary" @onclick="GetPublicIp">Get Public IP</button>
    @if (!string.IsNullOrEmpty(ip))
    {
    <br />
    <br />
    <h5>Your public ip is: @ip</h5>
    }
    <div>
    <br />
    <h5>Test images loading from gitee...</h5>
    <br />
    <img src="https://gitee.com/jingeonline/test/raw/master/food-middle-1.jpg" alt="image1" />
    <img src="https://gitee.com/jingeonline/test/raw/master/food-middle-2.jpg" alt="image2" />
    <img src="https://gitee.com/jingeonline/test/raw/master/food-middle-3.jpg" alt="image3" />
    <img src="https://gitee.com/jingeonline/test/raw/master/food-middle-4.jpg" alt="image4" />
    </div> *@
</div>


@code {
    string ip;
    string url = "https://api.ipify.org/?format=json";
    async Task GetPublicIp()
    {
        IpModel ipModel = await httpClient.GetFromJsonAsync<IpModel>(url);
        ip = ipModel.ip;
    }

    class IpModel
    {
        public string ip { get; set; }
    }
}