<footer class="mt-5 pt-5 pb-3 border-top my-theme-color-darker container-fluid">
    <div class="row dark container-lg mx-auto">
        <div class="col-6 col-md">
            @* <img class="mb-2" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19"> *@
            <span class="oi oi-shield link-light link-opacity-50" aria-hidden="true"></span>
            <small class="d-block mb-3 link-light link-opacity-50">© 2017–2028</small>
        </div>
        <div class="col-6 col-md">
            <h5 class="text-white">Features</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Cool stuff</a></li>
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Random feature</a></li>
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Team feature</a></li>
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Stuff for developers</a></li>
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Another one</a></li>
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="text-white">Resources</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Resource</a></li>
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Resource name</a></li>
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Another resource</a></li>
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="text-white">About</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Team</a></li>
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Locations</a></li>
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Privacy</a></li>
                <li class="mb-1"><a class="link-light link-opacity-50 text-decoration-none" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>

@code {

}
